* {
    box-sizing: border-box;
}

body {
    background-color: rgba(117, 117, 117, 0.37);
    font-size: 30px;
}

main {
    width: 400px;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 10vh;
}

.opp-button, #clear, #equal, #backspace {
    background-color: rgba(0, 0, 0, 0.534);
}

#display {
    height: 80px;
    width: 100%;
    grid-area: disp;
    background-color:rgb(117, 117, 117);
    color: white;
    text-align: center;
    margin: 0 auto;
    border: 2px groove black;
    padding: 15px 0;
    border-radius: 20px;
    line-height: 50px;
}

#button-grid {
    padding: 30px 20px;
    display: grid;
    grid-template-areas: 'disp disp disp disp'
                         'seven eight nine addReg'
                         'four five six subReg'
                         'one two three mult'
                         'zip dec backspace divi'
                         'equal equal equal clear';
    grid-template-rows: repeat(6, 80px);
    grid-template-columns:repeat(4, 80px);
    grid-gap: 5px;
    background-color: rgb(3, 9, 54);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(117, 117, 117);
}

button {
    background-color: rgb(117, 117, 117);
    color: white;
    border-radius: 20px;
    font-size: 30px;
}

#add {
    grid-area: addReg;
}

#sub {
    grid-area: subReg;
}

#mult {
    grid-area: mult;
}

#divi {
    grid-area: divi;
}

#clear {
    grid-area: clear;
}

#equal {
    grid-area: equal;
}

#backspace {
    grid-area: backspace;
}

#button0 {
    grid-area: zip;
}

#button1 {
    grid-area: one;
}

#button2 {
    grid-area: two;
}

#button3 {
    grid-area: three;
}

#button4 {
    grid-area: four;
}

#button5 {
    grid-area: five;
}

#button6 {
    grid-area: six;
}

#button7 {
    grid-area: seven;
}

#button8 {
    grid-area: eight;
}

#button9 {
    grid-area: nine;
}

#button-dec {
    grid-area: dec;
}

